#app {
  background: #fde3f9; /* Rosa pastel */
  color: #6a5d6b; /* Tono de púrpura suave */
  display: grid;
  font: 900 3rem 'Jua', sans-serif;   
  height: 100vh;
  margin: 0;
}

.box {
  display: grid;
  gap: 10px;
  margin: auto;
  place-items: center;
}

.gif {
  height: 400px;
}

.btns {
  display: flex;
  gap: 40px;
  width: 60%;
}

.yes {
  margin-right: auto;
}

.no {
  transition: .4s all;
}

button {
  background: #e68fd9; /* Lila suave */
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font: 900 2rem 'Jua', sans-serif;   
  padding: 15px 30px;
}

